<!DOCTYPE html>
<html>

	<head>
		<meta charset = "utf-8">
		<!-- Constitute title -->
		<title>Mr. Ponthy  -  {% block title %}{% endblock %}</title>
		<!-- Make things scalable -->
		<meta name="viewport" content = "width=device-width, initial-scale=1">
		<!-- Bootstrap css -->
		<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
		<!-- Own css -->
		<link href="{{url_for('static', filename='css/stylesheet.css')}}" rel="stylesheet">
		<!-- Header icon -->
		<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
	</head>

	<body>
		<!-- Main container for the body -->
		<div class="container">
	
		<!-- Header -->
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<img style="margin-bottom: 3%" src={{url_for('static', filename='images/header.png')}} alt="header" class="img-responsive">
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>

		<!-- Nav Pane -->
		<nav class="navbar navbar-default">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">Mr. Ponthy</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				  <li><a href="/">Home</a></li>
				  <li><a href="/about">About</a></li>
				  <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
				    <ul class="dropdown-menu">
				    {% for category in categorylist %}
				    	{% if category == 'Pyboard' %}
				      	<li role="separator" class="divider"></li>
				      	<li><a href="/projects/{{ category }}">{{ category }}</a></li>
				      	{% else %}
				      	<li><a href="/projects/{{ category }}">{{ category }}</a></li>
				      	{% endif %}
				    {% endfor %}
				    </ul>
				   </li>
				  <li><a href="/contact">Contact</a></li>
				  </li>
				</ul>
		    </div><!-- /.navbar-default -->
		  </div><!-- /.container-fluid -->
		</nav>

		<!-- Page Title -->
		<h2>{{ name }}</h2>
		<hr>
		
		<!-- Page Content -->
		<div class="container-fluid">
		{% block content %}{% endblock %}
		</div>

		<hr>

		<!-- Footer -->
		<footer>
		    <div class="row">
		        <div class="col-lg-12">
		            <p>Copyright &copy; Mr. Ponthy 2016</p>
		        </div>
		    </div>
		</footer>
	</div>

	<!-- Bootstrap js -->
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename ='js/bootstrap.min.js') }}"></script>

	</body>

</html>
